In [2]:
import os
import numpy as np
from os.path import isfile, join
from pathlib import Path
import pandas as pd
#from ipynb.fs.full.BB_functions import files_from_folder, preprocess

In [190]:
input_path = Path(r'C:\Users\UCPH\gabi\thesis analysis\test1')
save_path = Path(r'C:\Users\UCPH\gabi\thesis analysis')

In [191]:
df = files_from_folder(input_path)

In [192]:
df

1,Nose_x,FrontLimb_x,HindLimb_x,TailBase_x,Start_x,End_x,Nose_y,FrontLimb_y,HindLimb_y,TailBase_y,Start_y,End_y,Nose_likelihood,FrontLimb_likelihood,HindLimb_likelihood,TailBase_likelihood,Start_likelihood,End_likelihood,Name File
3,143.545715,96.245529,44.022476,18.651905,20.583385,1117.812500,227.071884,233.196106,234.609909,205.949783,233.515091,217.730255,0.999998,0.999755,0.999822,0.998261,0.906770,0.999751,"1_POST_BB_15_H0,1_KI_M_T1"
4,175.072388,131.115768,47.533272,48.185768,24.782099,1117.903687,227.889694,232.324905,231.925858,210.241562,234.788910,217.909409,0.999998,0.999913,0.958160,0.999963,0.999372,0.999770,"1_POST_BB_15_H0,1_KI_M_T1"
5,175.080826,131.117554,47.529694,48.184433,24.792465,1117.905640,227.821259,232.311676,231.933731,210.271851,234.817993,217.910217,0.999998,0.999914,0.959692,0.999964,0.999352,0.999770,"1_POST_BB_15_H0,1_KI_M_T1"
6,197.428925,135.007690,84.884621,75.856750,28.166096,1118.107178,229.624435,233.597336,231.016907,205.154587,228.720490,217.636536,1.000000,0.999600,0.996195,0.999563,0.988480,0.999771,"1_POST_BB_15_H0,1_KI_M_T1"
7,213.881226,164.866318,106.001846,83.434853,27.849884,1118.424194,224.670609,230.557800,230.433044,208.147385,227.036591,218.671371,0.999999,0.999967,0.999543,0.999986,0.993718,0.999826,"1_POST_BB_15_H0,1_KI_M_T1"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119,1225.484619,1180.224731,1154.264404,1125.840454,45.157970,1144.598633,242.109192,238.018478,232.675598,196.978561,228.609711,213.160614,0.999987,0.999370,0.998369,0.999991,0.999908,0.970136,1_PRE_BB_37_VEH_WT_M_T4
120,1225.460327,1179.871704,1154.314087,1125.804810,44.885002,1144.614014,242.092102,237.994049,232.728073,196.969513,228.525269,213.091339,0.999987,0.999451,0.998354,0.999991,0.999915,0.967727,1_PRE_BB_37_VEH_WT_M_T4
121,1235.944092,1205.719360,1154.402344,1126.327026,44.695004,1142.078857,234.731125,239.966202,232.278915,198.045120,228.869995,213.107040,0.999998,0.999970,0.999300,0.999983,0.999909,0.922325,1_PRE_BB_37_VEH_WT_M_T4
122,1240.713379,1193.962402,1153.704346,1126.802856,44.708397,1141.810181,228.908127,238.519501,233.628113,200.120270,229.084793,213.745773,0.999997,0.999919,0.998790,0.999950,0.999912,0.953464,1_PRE_BB_37_VEH_WT_M_T4
123,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1_PRE_BB_37_VEH_WT_M_T4

In [193]:
# Split the 'Name File' column into multiple columns
df[['Cohort', 'Pre-Post', 'Test_Type', 'Animal_ID', 'Drug_Dose', 'Genotype', 'Gender', 'Trial']] = df['Name File'].str.split('_', expand=True)

# Drop the original 'Name File' column if needed
# df.drop('Name File', axis=1, inplace=True)

# Split 'drug_dose' into 'Drug' and 'Dose' columns
df[['Drug', 'Dose']] = df['Drug_Dose'].str.extract(r'([A-Za-z]+)(\d+,\d+)')

# Extract only numbers from the 'Trial' column
df['Trial'] = df['Trial'].str.extract('(\d+)')

# Print the updated DataFrame
df

1,Nose_x,FrontLimb_x,HindLimb_x,TailBase_x,Start_x,End_x,Nose_y,FrontLimb_y,HindLimb_y,TailBase_y,...,Cohort,Pre-Post,Test_Type,Animal_ID,Drug_Dose,Genotype,Gender,Trial,Drug,Dose
3,143.545715,96.245529,44.022476,18.651905,20.583385,1117.812500,227.071884,233.196106,234.609909,205.949783,...,1,POST,BB,15,"H0,1",KI,M,1,H,"0,1"
4,175.072388,131.115768,47.533272,48.185768,24.782099,1117.903687,227.889694,232.324905,231.925858,210.241562,...,1,POST,BB,15,"H0,1",KI,M,1,H,"0,1"
5,175.080826,131.117554,47.529694,48.184433,24.792465,1117.905640,227.821259,232.311676,231.933731,210.271851,...,1,POST,BB,15,"H0,1",KI,M,1,H,"0,1"
6,197.428925,135.007690,84.884621,75.856750,28.166096,1118.107178,229.624435,233.597336,231.016907,205.154587,...,1,POST,BB,15,"H0,1",KI,M,1,H,"0,1"
7,213.881226,164.866318,106.001846,83.434853,27.849884,1118.424194,224.670609,230.557800,230.433044,208.147385,...,1,POST,BB,15,"H0,1",KI,M,1,H,"0,1"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119,1225.484619,1180.224731,1154.264404,1125.840454,45.157970,1144.598633,242.109192,238.018478,232.675598,196.978561,...,1,PRE,BB,37,VEH,WT,M,4,NaN,NaN
120,1225.460327,1179.871704,1154.314087,1125.804810,44.885002,1144.614014,242.092102,237.994049,232.728073,196.969513,...,1,PRE,BB,37,VEH,WT,M,4,NaN,NaN
121,1235.944092,1205.719360,1154.402344,1126.327026,44.695004,1142.078857,234.731125,239.966202,232.278915,198.045120,...,1,PRE,BB,37,VEH,WT,M,4,NaN,NaN
122,1240.713379,1193.962402,1153.704346,1126.802856,44.708397,1141.810181,228.908127,238.519501,233.628113,200.120270,...,1,PRE,BB,37,VEH,WT,M,4,NaN,NaN
123,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,1,PRE,BB,37,VEH,WT,M,4,NaN,NaN

In [194]:
# Iterate through columns and set values to NaN based on condition
for col in df.columns:
    if col.endswith('_likelihood'):
        mask = df[col] < 0.7
        prefix = col[:-11]  # Remove '_likelihood' to get the prefix
        for suffix in ['x', 'y']:
            column_to_set_nan = f'{prefix}_{suffix}'
            df.loc[mask, column_to_set_nan] = np.nan

In [195]:
# Function to calculate the adjusted mean
def calculate_adjusted_mean(group):
    filtered_start_x = group[group['Start_likelihood'] > 0.95]['Start_x']
    filtered_start_y = group[group['Start_likelihood'] > 0.95]['Start_y']
    filtered_end_x = group[group['End_likelihood'] > 0.95]['End_x']
    filtered_end_y = group[group['End_likelihood'] > 0.95]['End_y']
    
    start_x_adjusted_mean = filtered_start_x.mean()
    start_y_adjusted_mean = filtered_start_y.mean()
    end_x_adjusted_mean = filtered_end_x.mean()
    end_y_adjusted_mean = filtered_end_y.mean()
    
    group['Start_x_adjust'] = start_x_adjusted_mean
    group['Start_y_adjust'] = start_y_adjusted_mean
    group['End_x_adjust'] = end_x_adjusted_mean
    group['End_y_adjust'] = end_y_adjusted_mean
    
    return group

# Group by 'Name File' and apply the calculation
df = df.groupby('Name File').apply(calculate_adjusted_mean)

# Fill NaN values in the new columns with appropriate values
df['Start_x_adjust'].fillna(df['Start_x'], inplace=True)
df['Start_y_adjust'].fillna(df['Start_y'], inplace=True)
df['End_x_adjust'].fillna(df['End_x'], inplace=True)
df['End_y_adjust'].fillna(df['End_y'], inplace=True)

# Drop the original 'Start_likelihood' and 'End_likelihood' columns if needed
# df.drop(['Start_likelihood', 'End_likelihood'], axis=1, inplace=True)

# Print the updated DataFrame
df

C:\Users\UCPH\AppData\Local\Temp\ipykernel_27832\3720783363.py:21: FutureWarning: Not prepending group keys to the result index of transform-like apply. In the future, the group keys will be included in the index, regardless of whether the applied function returns a like-indexed object.
To preserve the previous behavior, use

	>>> .groupby(..., group_keys=False)

To adopt the future behavior and silence this warning, use

	>>> .groupby(..., group_keys=True)
  df = df.groupby('Name File').apply(calculate_adjusted_mean)

1,Nose_x,FrontLimb_x,HindLimb_x,TailBase_x,Start_x,End_x,Nose_y,FrontLimb_y,HindLimb_y,TailBase_y,...,Drug_Dose,Genotype,Gender,Trial,Drug,Dose,Start_x_adjust,Start_y_adjust,End_x_adjust,End_y_adjust
3,143.545715,96.245529,44.022476,18.651905,20.583385,1117.812500,227.071884,233.196106,234.609909,205.949783,...,"H0,1",KI,M,1,H,"0,1",25.302628,235.666721,1118.057558,219.110961
4,175.072388,131.115768,47.533272,48.185768,24.782099,1117.903687,227.889694,232.324905,231.925858,210.241562,...,"H0,1",KI,M,1,H,"0,1",25.302628,235.666721,1118.057558,219.110961
5,175.080826,131.117554,47.529694,48.184433,24.792465,1117.905640,227.821259,232.311676,231.933731,210.271851,...,"H0,1",KI,M,1,H,"0,1",25.302628,235.666721,1118.057558,219.110961
6,197.428925,135.007690,84.884621,75.856750,28.166096,1118.107178,229.624435,233.597336,231.016907,205.154587,...,"H0,1",KI,M,1,H,"0,1",25.302628,235.666721,1118.057558,219.110961
7,213.881226,164.866318,106.001846,83.434853,27.849884,1118.424194,224.670609,230.557800,230.433044,208.147385,...,"H0,1",KI,M,1,H,"0,1",25.302628,235.666721,1118.057558,219.110961
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119,1225.484619,1180.224731,1154.264404,1125.840454,45.157970,1144.598633,242.109192,238.018478,232.675598,196.978561,...,VEH,WT,M,4,NaN,NaN,44.991718,230.548854,1140.330092,214.583758
120,1225.460327,1179.871704,1154.314087,1125.804810,44.885002,1144.614014,242.092102,237.994049,232.728073,196.969513,...,VEH,WT,M,4,NaN,NaN,44.991718,230.548854,1140.330092,214.583758
121,1235.944092,1205.719360,1154.402344,1126.327026,44.695004,1142.078857,234.731125,239.966202,232.278915,198.045120,...,VEH,WT,M,4,NaN,NaN,44.991718,230.548854,1140.330092,214.583758
122,1240.713379,1193.962402,1153.704346,1126.802856,44.708397,1141.810181,228.908127,238.519501,233.628113,200.120270,...,VEH,WT,M,4,NaN,NaN,44.991718,230.548854,1140.330092,214.583758
123,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,VEH,WT,M,4,NaN,NaN,44.991718,230.548854,1140.330092,214.583758

In [196]:
# Define a function to determine Framerate and y_pixels based on Cohort
def set_framerate_and_ypixels(row):
    if row['Cohort'] == 1:
        return 15, 720
    elif row['Cohort'] == 2:
        return 60, 1080
    else:
        return np.nan, np.nan
    
# Convert 'Cohort' to integer
df['Cohort'] = df['Cohort'].astype(int)

# Apply the function to create the 'Framerate' and 'y_pixels' columns
df[['Framerate', 'y_pixels']] = df.apply(set_framerate_and_ypixels, axis=1, result_type='expand')
df['Framerate'] = df['Framerate'].astype(int)

In [197]:
#Get distance to end
df['Nose_to_end'] = 75 - (df['Nose_x']-df['Start_x_adjust'])/((df['End_x_adjust']-df['Start_x_adjust'])/75)
df['TailBase_to_end'] = 75 - (df['TailBase_x']-df['Start_x_adjust'])/((df['End_x_adjust']-df['Start_x_adjust'])/75)
df['Time_to_cross_s'] = df.groupby('Name File')['Framerate'].transform('size') / df['Framerate']

# Create 'Failed_to_end' column with True/False values based on if it's more than 5 cm away from end on the last frame of each trial
df['Failed_to_end'] = df.groupby('Name File')['TailBase_to_end'].transform(lambda x: x.iloc[-1] > 1 )

def calculate_weighted_position(row):
    if row['TailBase_to_end'] >= 75:
        return row['Start_y_adjust']
    elif row['TailBase_to_end'] <= 0:
        return row['End_y_adjust']
    else:
        weight_start = (row['TailBase_to_end'] / 75)
        weight_end = 1 - weight_start
        return (weight_start * row['Start_y_adjust']) + (weight_end * row['End_y_adjust'])
    
# Apply the function to create the 'Position_y' column
df['Position_y'] = df.apply(calculate_weighted_position, axis=1)

# Apply the function to create the 'Position_y' column
df['Position_y'] = df.apply(calculate_weighted_position, axis=1)
#Get distance traveled
df['Nose_diff'] = df['Nose_to_end'].diff().abs()
df['TailBase_diff'] = df['TailBase_to_end'].diff().abs()
df['Distance_traveled'] = (df['Nose_diff'] + df['TailBase_diff']) / 2
df['Absolute_distance_traveled'] = df.groupby('Name File')['Distance_traveled'].transform('sum')

#Determine speed
df['Speed_cm/s'] = df['Distance_traveled']*df['Framerate']

# Calculate the condition for 'Start_box_nose' and set to False when the condition is not met
threshold = df['Start_x_adjust'] + (10 * ((df['End_x_adjust'] - df['Start_x_adjust']) / 75))
df['Start_box_nose'] = (df['Nose_x'] - df['Start_x_adjust']) < threshold
df['Start_box_nose'] = df['Start_box_nose'].fillna(False)

# Calculate the condition for 'Start_box_tailbase' and set to False when the condition is not met
df['Start_box_tailbase'] = (df['TailBase_x'] - df['Start_x_adjust']) < threshold
df['Start_box_tailbase'] = df['Start_box_tailbase'].fillna(False)

#Pawslips
df['FrontLimb_slip'] = df['FrontLimb_y'] > df['Position_y']
df['FrontLimb_slip'] = df['FrontLimb_slip'].fillna(False)
df['HindLimb_slip'] = df['HindLimb_y'] > df['Position_y']
df['HindLimb_slip'] = df['HindLimb_slip'].fillna(False)

# Apply the function to create the 'Immobile' column
df['Immobile'] = df['Speed_cm/s'] < 0.05 * df['Speed_cm/s'].mean()

In [198]:
# Create a custom function to calculate 'Time_to_descend'
def calculate_time_to_descend(group):
    threshold = 7
    if (group['TailBase_to_end'] <= threshold).any():
        # Find the index of the first observation where 'TailBase_to_end' is below the threshold
        index_below_threshold = (group['TailBase_to_end'] <= threshold).idxmax()
        # Count the number of rows before the first observation below the threshold
        rows_before_descend = index_below_threshold + 1
        # Calculate 'Time_to_descend' by dividing rows_before_descend by the frame rate
        return rows_before_descend / group['Framerate'].iloc[0]
    else:
        return np.nan

# Calculate 'Time_to_descend' for each 'Name File' group
result = df.groupby('Name File').apply(lambda x: calculate_time_to_descend(x))

# Merge the result back into the original DataFrame using 'Name File' as the key
df = df.merge(result.rename('Time_to_descend'), left_on='Name File', right_index=True)

#Get the time the mice spend in the end of the bar
df['Time_to_descend_end'] = df['Time_to_cross_s'] - df['Time_to_descend']

In [199]:
import numpy as np

# Function to calculate time after a 7cm decrease
def calculate_time_after_7cm(group):
    initial_value = group['TailBase_to_end'].iat[0]  # Get the initial value for the group
    threshold = 7

    # Find the index of the first row where 'TailBase_to_end' decreases by 7 or more
    first_decrease_idx = (group['TailBase_to_end'] <= (initial_value - threshold)).idxmax()

    if not first_decrease_idx:
        return np.nan  # If no such decrease is found, return NaN

    # Calculate the time in seconds based on the index
    time_seconds = first_decrease_idx / group['Framerate'].iat[0]
    
    return time_seconds

# Apply the custom function to each 'Name File' group
time_after_7cm = df.groupby('Name File').apply(calculate_time_after_7cm).reset_index()
time_after_7cm.columns = ['Name File', 'Time_after_first_7cm']

# Merge the result back to the original DataFrame
df = df.merge(time_after_7cm, on='Name File', how='left')

In [201]:
df['Time_after_first_7cm'].describe()
df['Time_after_first_7cm'].tail(60)

30829    1.266667
30830    1.266667
30831    1.266667
30832    1.266667
30833    1.266667
30834    1.266667
30835    1.266667
30836    1.266667
30837    1.266667
30838    1.266667
30839    1.266667
30840    1.266667
30841    1.266667
30842    1.266667
30843    1.266667
30844    1.266667
30845    1.266667
30846    1.266667
30847    1.266667
30848    1.266667
30849    1.266667
30850    1.266667
30851    1.266667
30852    1.266667
30853    1.266667
30854    1.266667
30855    1.266667
30856    1.266667
30857    1.266667
30858    1.266667
30859    1.266667
30860    1.266667
30861    1.266667
30862    1.266667
30863    1.266667
30864    1.266667
30865    1.266667
30866    1.266667
30867    1.266667
30868    1.266667
30869    1.266667
30870    1.266667
30871    1.266667
30872    1.266667
30873    1.266667
30874    1.266667
30875    1.266667
30876    1.266667
30877    1.266667
30878    1.266667
30879    1.266667
30880    1.266667
30881    1.266667
30882    1.266667
30883    1.266667
30884    1.266667
30885    1.266667
30886    1.266667
30887    1.266667
30888    1.266667
Name: Time_after_first_7cm, dtype: float64

In [146]:
# Filter the DataFrame for rows where 'Dragging' is True and select specified columns
filtered_df = df[df['Failed_to_end']].copy()
columns_of_interest = ['Name File', 'TailBase_to_end','Failed_to_end', 'Time_to_descend', 'Time_to_cross_s']
filtered_df = filtered_df[columns_of_interest]

# Print the filtered DataFrame
filtered_df['Name File'].unique()

array(['1_POST_BB_25_SAL_HET_M_T4', '1_PRE_BB_15_SAL_KI_M_T1',
       '1_PRE_BB_29_SAL_HET_M_T3'], dtype=object)

In [148]:
# Filter the DataFrame for rows where 'Dragging' is True and select specified columns
filtered_df = df[df['Failed_to_end']].copy()
columns_of_interest = ['Name File', 'Failed_to_end']
filtered_df = filtered_df[columns_of_interest]

# Print the filtered DataFrame
filtered_df['Name File'].unique()

array(['1_POST_BB_25_SAL_HET_M_T4', '1_PRE_BB_15_SAL_KI_M_T1',
       '1_PRE_BB_29_SAL_HET_M_T3'], dtype=object)

In [128]:
filtered_df['Time_to_cross_s'].describe()

count    476.000000
mean      13.410924
std        5.466710
min        5.133333
25%        8.533333
50%       18.066667
75%       18.066667
max       18.066667
Name: Time_to_cross_s, dtype: float64

In [ ]:
## Generate a dragging collumn

# Ensure 'y_pixels' and 'Framerate' are integers
#df['y_pixels'] = df['y_pixels'].astype(int)
#df['Framerate'] = df['Framerate'].astype(int)

# Calculate the threshold for 'TailBase_y' based on 'y_pixels'
#df['threshold_y'] = np.where(df['y_pixels'] == 720, 10, (720 / 1080) * 10)

# Define a function to check the dragging condition
#def check_dragging_condition(group):
 #   return group['TailBase_y'].gt(group['Position_y'] + group['threshold_y']).all() and group['Immobile'].all()

# Apply the function to create the 'Dragging' column
#df['Dragging'] = False

# Check the dragging condition for each group of rows
#for _, group in df.groupby('Name File'):
 #   if group['Framerate'].iloc[0] == 15:
  #      if group.shape[0] >= 5 and not check_dragging_condition(group):
   #         df.loc[group.index, 'Dragging'] = True
    #elif group['Framerate'].iloc[0] == 60:
     #   if group.shape[0] >= 20 and not check_dragging_condition(group):
      #      df.loc[group.index, 'Dragging'] = True

In [90]:
# Convert 'y_pixels' and 'Framerate' to integers
df['y_pixels'] = df['y_pixels'].astype(int)
df['Framerate'] = df['Framerate'].astype(int)
df['TailBase_y'] = df['TailBase_y'].astype(float)
df['Position_y'] = df['Position_y'].astype(float)

# Define a function to check the Dragging criteria
def check_dragging(row):
    if row['y_pixels'] == 720:
        threshold = 10
    elif row['y_pixels'] == 1080:
        threshold = (720 / 1080) * 10
    else:
        return None

    if row['Immobile']:
        return False

    name_file_group = df[df['Name File'] == row['Name File']]
    if row['Framerate'] == 15:
        required_rows = 3
    elif row['Framerate'] == 60:
        required_rows = 12
    else:
        return None

    # Filter the rows within the same 'Name File' group based on the criteria
    filtered_group = name_file_group[
        (name_file_group['TailBase_y'] > (row['Position_y'] - threshold))
        & (name_file_group['Immobile'] == False)
    ]

    # Check if the number of rows meeting the criteria is greater than or equal to the required number
    return len(filtered_group) >= required_rows

# Apply the function to create the 'Dragging' column
df['Dragging'] = df.apply(check_dragging, axis=1)

In [91]:
# Define a function to determine Framerate and y_pixels based on Cohort
def set_threshold(row):
    if row['y_pixels'] == 720:
         return 10
    elif row['y_pixels'] == 1080:
        return (720 / 1080) * 10
    else:
        return None

# Apply the function to create the 'Framerate' and 'y_pixels' columns
df['Threshold'] = df.apply(set_threshold, axis=1)

In [92]:
# Filter the DataFrame for rows where 'Dragging' is True and select specified columns
filtered_df = df[df['Dragging']].copy()
columns_of_interest = ['Framerate', 'y_pixels', 'Name File', 'Position_y', 'TailBase_y', 'Threshold','Immobile', 'Dragging']
filtered_df = filtered_df[columns_of_interest]

# Print the filtered DataFrame
filtered_df.head()

1,Framerate,y_pixels,Name File,Position_y,TailBase_y,Threshold,Immobile,Dragging
66,15,720,"1_POST_BB_15_H0,1_KI_M_T4",231.097436,189.509094,10,False,True
67,15,720,"1_POST_BB_15_H0,1_KI_M_T4",230.589645,195.900452,10,False,True
69,15,720,"1_POST_BB_15_H0,1_KI_M_T4",230.109450,193.862183,10,False,True
70,15,720,"1_POST_BB_15_H0,1_KI_M_T4",229.675524,197.692200,10,False,True
72,15,720,"1_POST_BB_15_H0,1_KI_M_T4",229.251995,189.694733,10,False,True

In [15]:
df[['TailBase_to_end', 'Start_y_adjust','End_y_adjust', 'Position_y']].head(50)

1   TailBase_to_end  Start_y_adjust  End_y_adjust  Position_y
3         75.456465      235.666721    219.110961  235.666721
4         73.429442      235.666721    219.110961  235.320030
5         73.429533      235.666721    219.110961  235.320050
6         71.530275      235.666721    219.110961  234.900801
7         71.010160      235.666721    219.110961  234.785990
8         71.010273      235.666721    219.110961  234.786014
9         68.829003      235.666721    219.110961  234.304513
10        66.740851      235.666721    219.110961  233.843567
11        66.731339      235.666721    219.110961  233.841468
12        64.055454      235.666721    219.110961  233.250784
13        62.554048      235.666721    219.110961  232.919358
14        62.553378      235.666721    219.110961  232.919210
15        59.888577      235.666721    219.110961  232.330973
16        58.352857      235.666721    219.110961  231.991973
17        58.352840      235.666721    219.110961  231.991969
18        56.304935      235.666721    219.110961  231.539907
19        53.719836      235.666721    219.110961  230.969264
20        53.720699      235.666721    219.110961  230.969454
21        50.855444      235.666721    219.110961  230.336968
22        48.329036      235.666721    219.110961  229.779280
23        48.329002      235.666721    219.110961  229.779272
24        45.441832      235.666721    219.110961  229.141948
25        42.322022      235.666721    219.110961  228.453271
26        42.339834      235.666721    219.110961  228.457203
27        39.460110      235.666721    219.110961  227.821522
28        36.791562      235.666721    219.110961  227.232458
29        36.789761      235.666721    219.110961  227.232060
30        33.825020      235.666721    219.110961  226.577613
31        31.294083      235.666721    219.110961  226.018925
32        31.293849      235.666721    219.110961  226.018874
33        28.835542      235.666721    219.110961  225.476218
34        27.242900      235.666721    219.110961  225.124653
35        27.238598      235.666721    219.110961  225.123704
36        25.308979      235.666721    219.110961  224.697753
37        23.412151      235.666721    219.110961  224.279040
38        23.409994      235.666721    219.110961  224.278564
39        21.628290      235.666721    219.110961  223.885265
40        20.509567      235.666721    219.110961  223.638314
41        20.510778      235.666721    219.110961  223.638581
42        20.013426      235.666721    219.110961  223.528794
43        18.466114      235.666721    219.110961  223.187235
44        18.466964      235.666721    219.110961  223.187423
45        16.422798      235.666721    219.110961  222.736186
46        14.583034      235.666721    219.110961  222.330071
47        14.566450      235.666721    219.110961  222.326410
48        12.838740      235.666721    219.110961  221.945029
49        11.434129      235.666721    219.110961  221.634970
50        11.416573      235.666721    219.110961  221.631095
51        10.216150      235.666721    219.110961  221.366109
52         8.674360      235.666721    219.110961  221.025769

### Functions

In [1]:
def preprocess(df):

    """
    Takes the input file and returns a dataframe with the angles (both corrected and uncorrected)
    Parameters
    ----------

    df : pandas dataframe
        output .csv from the deeplabcut analysis.

    Returns
    -------
    df : pandas dataframe
        Same dataframe as input cleaner with generlized column names.
    """

    #seperate x, y and likelihood into 3 dfs for renaming and preprocessing
    df_x = df[df.columns[[1, 4, 7, 10, 13, 16]]]
    df_y = df[df.columns[[2, 5, 8, 11, 14, 17]]]
    df_like = df[df.columns[[3, 6, 9, 12, 15, 18]]]

    #drop the unneeded cols
    df_x = df_x.drop(0)
    df_y = df_y.drop(0)
    df_x = df_x.drop(2)
    df_y = df_y.drop(2)

    df_like = df_like.drop(0)
    df_like = df_like.drop(2)

    #Rename variables
    df_x.columns=df_x.iloc[0]
    df_x = df_x.drop(1)
    df_x.rename(columns = {'Nose':'Nose_x', 'Frontlimb':'FrontLimb_x', 'HindLimb':'HindLimb_x', 'TailBase':'TailBase_x', 'Start':'Start_x', 'End':'End_x'}, inplace = True)


    df_y.columns=df_y.iloc[0]
    df_y = df_y.drop(1)
    df_y.rename(columns = {'Nose':'Nose_y', 'Frontlimb':'FrontLimb_y', 'HindLimb':'HindLimb_y', 'TailBase':'TailBase_y', 'Start':'Start_y', 'End':'End_y'}, inplace = True)


    df_like.columns=df_like.iloc[0]
    df_like = df_like.drop(1)
    df_like.rename(columns = {'Nose':'Nose_likelihood', 'Frontlimb':'FrontLimb_likelihood', 'HindLimb':'HindLimb_likelihood', 'TailBase':'TailBase_likelihood', 'Start':'Start_likelihood', 'End':'End_likelihood'}, inplace = True)

    #merge the dataframes
    df_all = df_x.join(df_y)
    df_all = df_all.join(df_like)
    df_all = df_all.astype(float)

    return df_all

 

def files_from_folder(path):

    """
    Takes the input path and returns a dataframe with the concatanated data found in the folder

    Parameters
    ----------
    Path : input path for the folder where the files to be loaded are

    Returns
    ------
    df : pandas dataframe
        A concatanated dataframe with all the values
    """

    import glob
    import os.path
    import pandas as pd

    csv_files = glob.glob(os.path.join(path, "*.csv"))
    df = []

    # loop over the list of csv files
    for f in csv_files:

        # read the csv file
        file = pd.read_csv(f, header = None)
        file = preprocess(file)
        file['Name File'] = os.path.basename(f)
        file['Name File'] = file['Name File'].str.split('DLC_').str[0]
        df.append(file)
    df_con = pd.concat(df)

    return df_con